{% extends 'lst.html' %}

{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 01</strong></h1>
<h2><label>Mostra Hello Word</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaSequencial">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Recebe msg e exibe
        <form method="POST">
            <input class="form-control" type="text" name="msg" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>
<h1>Retorno: {{msg}}</h1>
{% endblock %}