{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 02 lst2</strong></h1>
<h2><label>Recebe numero e mostra se é pos ou neg.</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaSequencial">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Recebe numero e exibe
        <form method="POST">
            Numero
            <input class="form-control" type="text" name="n1" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>
<h1>Retorno: {{msg1}}</h1>


{% endblock %}