{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 03</strong></h1>
<h2><label>Recebe 2 numeros e soma</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaSequencial">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Recebe numero e soma
        <form method="POST">
            <input class="form-control" type="text" name="n1" required><br>
            <input class="form-control" type="text" name="n2" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>
<h1>Retorno: {{soma}}</h1>


{% endblock %}