{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 03 lst2</strong></h1>
<h2><label>Recebe letra e classifica msg</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaDeDecisao">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Recebe letra e classifica msg
        <form method="POST">
            <input class="form-control" type="text" name="letra" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>
<h1>Retorno: {{msg}}</h1>


{% endblock %}