{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 10</strong></h1>
<h2><label>Celsius em Fahrenheit.</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaSequencial">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Celsius em Fahrenheit
        <form method="POST">
            Fahrenheit
            <input class="form-control" type="text" name="temp1" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>
<h1>Retorno: {{temp}}</h1>


{% endblock %}