{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 10 lst2</strong></h1>
<h2><label>Comprimenta de acordo com o periodo de estudos</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaSequencial">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Comprimenta de acordo com o periodo de estudos
        <form method="POST">
            Em qual turno você estuda?
            M-matutino, V-Vespertino ou N- Noturno
            <input class="form-control" type="text" name="periodo" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>

<h1>Retorno: {{msg}} </h1>
{% endblock %}