{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 11 lst2</strong></h1>
<h2><label>Calc aumento salario organizações Tabajara.</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaDeDecisao">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Calc aumento salario organizações Tabajara
        <form method="POST">
            Salario
            <input class="form-control" type="text" name="salario" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>
</form>


<h1>Retorno: </h1>
<p>{{percent_aumento}}</p><br>

{% endblock %}