{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 15</strong></h1>
<h2><label>Calculo salario mes.</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaSequencial">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Calculo salario mes
        <form method="POST">
            vlhora
            <input class="form-control" type="text" name="vlhora" required><br>
            qtdhorasTrabalhadas
            <input class="form-control" type="text" name="qtdhorasTrabalhadas" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>

</form>
{{dadosSal}}
{% endblock %}