<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>PGM de calculo salarial (descontos)</h1>

<body>
    <form method="POST">
        VALOR HORA
        <input type="text" name="vl_hora">
        <br>
        QUANT.HORA
        <input type="text" name="qtd_hora">
        <br>
        <input type="submit" name="calcular">
    </form>
    + Valor Hora : R${{vl_hora}}<br>
    + Quantidade : R${{qtd_hora}}<br>
    + Salário Bruto : R$ {{salario_bruto}}<br>
    - IR (11%) : R$ {{IR}}<br>
    - INSS (8%) : R$ {{INSS}}<br>
    - Sindicato ( 5%) : R$ {{SINDICATO}}<br>
    - TotalDescontos : R${{TOTALDES}}<br>
    * Salário Liquido : R$ {{SALARIO_LIQUIDO}}<br>
</body>

</html>