{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 19 lst2</strong></h1>
<h2><label>Imprime a quantidade de centenas, dezenas e unidades</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaDeDecisao">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Imprima a quantidade de centenas, dezenas e unidades
        <form method="POST">
            Número inteiro menor que 1000
            <input class="form-control" type="text" name="numero" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>

</form>
<p>Resultado</p>
<p>{{retorno}}</p>
{% endblock %}