{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 21 lst2</strong></h1>
<h2><label>Caixa eletronico</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaDeDecisao">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Caixa eletronico
        <form method="POST">
            Informe o valor a ser sacado
            <input class="form-control" type="text" name="valor" required><br>
            <button class="btn btn-primary" type="submit">SUBMETER</button></p>

</form>
<p>Resultado</p>
<p>{{notas}}</p>
{% endblock %}