{% extends 'base.html' %}
{% block conteudo %}
<p>
<p>
<h1><strong>Exercicio 26 lst2</strong></h1>
<h2><label>Calculo desconto combutivel</label></h2>
<p>
<p>
<p><label>
        <a href="https://wiki.python.org.br/EstruturaDeDecisao">Extraido de PythonBrasil</a>
        Versão WEB by Fernando Oliveira 07/2022.
        <br>
        Calculo desconto combutivel
        <table>
            <form method="POST">
                G - GASOLINA || A - ALCOOL
                <input class="form-control" type="text" name="tpcombustivel" required><br>
                Quantidade de litros
                <input class="form-control" type="text" name="qtdlitros" required><br>

                <button class="btn btn-primary" type="submit">SUBMETER</button></p>

</form>
</table>
<p>Resultado</p>
<p>{{dados}}</p>
{% endblock %}