{% extends 'lst.html' %}
{% block conteudo %}

<table class="table table-striped table-responsive table-bordered">
    <tr>
        <td><a href="/ex01lst2">Exercicio 01 - Recebe 2 numeros e mostra maior </a></td>
        <td><a href="/ex02lst2">Exercicio 02 - Recebe numero mostra positivo/ negativo</a></td>
        <td><a href="/ex03lst2">Exercicio 03 - Classifica sexo</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex04lst2">Exercicio 04 - Verifica vogal e consoante</a></td>
        <td><a href="/ex05lst2">Exercicio 05 - Calcula media 2 notas</a></td>
        <td><a href="/ex06lst2">Exercicio 06 - Verifica maior de 3</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex07lst2">Exercicio 07 - Verifica maior e menor</a></td>
        <td><a href="/ex08lst2">Exercicio 08 - Opta menor preco de 3</a></td>
        <td><a href="/ex09lst2">Exercicio 09 - Ordena valores recebidos</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex10lst2">Exercicio 10 - Comprimenta de acordo com horario estudos</a></td>
        <td><a href="/ex11lst2">Exercicio 11 - Calcula aumento de acordo com salario</a></td>
        <td><a href="/ex12lst2">Exercicio 12 - Calc Impostos IR</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex13lst2">Exercicio 13 - Verifica correpondente semana</a></td>
        <td><a href="/ex14lst2">Exercicio 14 - Média de Aproveitamento Conceito</a></td>
        <td><a href="/ex15lst2">Exercicio 15 - Verifica se forma triangulo e tipo</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex16lst2">Exercicio 16 - Calcula as raízes de uma equação do segundo grau</a></td>
        <td><a href="/ex17lst2">Exercicio 17 - Verifica se é ano Bissexto</a></td>
        <td><a href="/ex18lst2">Exercicio 18 - Verifica se formato de data é valido</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex19lst2">Exercicio 19 - Imprima a quantidade de centenas, dezenas e unidades</a></td>
        <td><a href="/ex20lst2">Exercicio 20 - Lê 3 notas e imprime a media</a></td>
        <td><a href="/ex21lst2">Exercicio 21 - Caixa eletronico</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex22lst2">Exercicio 22 - Determina se é par ou impar</a></td>
        <td><a href="/ex23lst2">Exercicio 23 - Determina se é inteiro ou decimal</a></td>
        <td><a href="/ex24lst2">Exercicio 24 - Operações</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex25">Exercicio 25 - xxxxxxxxxxxxxxxxxx</a></td>
        <td><a href="/ex26">Exercicio 26 - xxxxxxxxxxxxxxxxxx</a></td>
        <td><a href="/ex27">Exercicio 27 - xxxxxxxxxxxxxxxxxx</a><br></td>
    </tr>
    <tr>
        <td><a href="/ex28">Exercicio 28 - xxxxxxxxxxxxxxxxxx</a></td>
    </tr>
</table>

{% endblock %}