<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>teste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>

<div class="container">
    <!--cria container onde as mensagens serão exibidas-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <!--condição para exibição das mensagens-->
    <ul id="messages" class="list-unstyled">
        <!--laço e repetição para exibição das mensagens-->
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!--fim dos laços-->
    <div class="page-header">
    </div>

    <table class="table table-striped table-responsive table-bordered">
        <tr>
            <td><a href="/index">lista 01 - Sequenciais </a></td>
            <td><a href="/indexlst2">lista 02 - Estruturas de decisão</a></td>
            <td><a href="/indexlst3">lista 03 - Estruturas de repetição</a><br></td>
        </tr>
        <tr>

            <td><a href="/indexlst4">lista 04 - Estruturas de listas</a></td>
            <td><a href="/indexlst5">lista 05 - ExerciciosFuncoes</a><br></td>
            <td><a href="/indexlst6">lista 06 - ExerciciosComStrings</a></td>
        </tr>
        <tr>
            <td><a href="/indexlst7">lista 07 - ExerciciosArquivos</a><br></td>
            <td><a href="/indexlst8">lista 08 - ExerciciosClasses</a></td>
            <td><a href="/indexlst9">lista 09 - ListaDeExerciciosProjetos</a><br></td>
        </tr>

    </table>

    {% block conteudo %}

    {% endblock %}
</div>
</body>

</html>